/*  Font styling */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merienda:wght@300..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

.bitter{
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700 */

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900 */

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900 */

.merienda{
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700 */

.dancing-script{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* All Links styling */
a {
  font-weight: 500;
  color: #913225;
  text-decoration: inherit;
}
/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.logo-h1 {
  text-decoration: none;
  color: #913225;
}

/* NavBar Styling*/
.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: #f8f9fa; */
  background-color: #913225;
  padding: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-left: 15px;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Footer Styling */
.footer{
  font-family: "Kite One", sans-serif;
  color: #fff;
  background-color: #913225;
  text-align: center;
  padding: 2rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.footer .footer-links {
  display: flex;
  gap: 1rem;
}
.footer_inner{
  color: #e1ebdf;
}

/* Destination Cards styling */
.desContainer {
  display: flex;
}

.contents-list, .country-list {
  width: 250px;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.country-list {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

/* img{
  display: block;
  object-fit: cover;
  width: 100%;
}

.country-img{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:20px
} */