/*  Font styling */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merienda:wght@300..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* "montserrat_regular",sans-serif */

/* :root{
  --primaryColor: hs1(199, 100%, 33%);

} */
.bitter{
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.merienda{
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.fav-title{
  font-family: "Bitter", serif;
  color: #913225;
}
body{
  background-color: #f7f6f6;
}
.home-page {
  background-image: var(--background-image) !important;
  transition: background-image 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dancing-script{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* All Links styling */
a {
  font-weight: 500;
  color: #913225;
  text-decoration: inherit;
}
.link-links{
  color: #913225;
  text-decoration: inherit;
}
/* Header styling */
header {
  font-family: "Poppins", serif;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  max-width: 100%;
  height: auto;
  text-decoration: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo-h1 {
  text-decoration: none;
  color: #913225;
}

/* NavBar Styling*/
.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #913225;
  /* background-color: #913225; */
  padding: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-left: 15px;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Footer Styling */

.footer{
  font-family: "Kite One", sans-serif;
  color: #fff;
  background-color: #fbfafa;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  position: fixed;
  justify-content: space-between;
  /* align-items: center; */
  padding: 1rem 2rem; 
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  place-items: center;
}

.footer .footer-links {
  display: flex;
  gap: 1rem;
}
.videoDiv::after {
  content: '';
  position: absolute;
  background: rgba(10, 84, 107, 0.307);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  mix-blend-mode: multiply;
}

/* Newsletter */
.newsletter-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

/* Destination Cards styling */
.country-country-info-box{
  margin-bottom: 5%;
}
.continent-continent-info-box{
  margin-bottom: 5%;
}

.country-list {
  width: 250px;
  padding: 10px;
}
.continent-list{
  width: 250px;
  padding: 10px;
}
.country-list-h2{
  font-family: "Playfair Display", serif;
  margin: 20px 0px 15px;
}

.country-list-link{
  border-radius: 20px;
  padding: .25rem .75rem; 
  width: auto;
  color: white;
  background: rgb(241,219,215);
  background: linear-gradient(90deg, rgba(241,219,215,1) 4%, rgba(145,50,37,1) 91%);
}

/* Search Bar stying */
.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 20px;
}
.searchForm {
  position: relative;
  width: 50%;
}

.searchDiv {
  color: #913225;
  text-align: center;
}
.searchBar {
  width: 100%;
  padding: 25px 20px; 
  box-sizing: border-box;
  font-family: "Bitter", serif;
  background: transparent;
  border: 2px solid #913225;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.searchBtn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #913225;
  color: white;
  border: none;
  padding: 5px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Bitter", serif;
  font-weight: 600;
}
.search-results {
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: 50%;
  text-align: left;
  margin-top: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.search-results li:last-child {
  border-bottom: none;
}

.search-results li:hover {
  background-color: #f8f9fa;
}

/* Adjustments for small screens */
@media (max-width: 768px) {
  .searchForm {
    width: 80%;
  }
  
  .search-results {
    width: 80%;
  }
}

