
/* All Links styling */
a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.logo-h1 {
  text-decoration: none;
  color: #000;
}

/* NavBar Styling*/
.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-left: 15px;
  text-decoration: none;
  color: #000;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}